---
layout: default
permalink: /your-project
title_id: your_project
content_wrap_id: content-your-project-wrap
sitemap:
  priority: 1
---

{% capture translation_key %}translation_{{ site.active_lang }}{% endcapture %}
{% assign project_trans = site.data[translation_key].your_project %}

<h1>{{ project_trans.title }}</h1>

<p>{{ project_trans.intro }}</p>

<h2>{{ project_trans.process.title }}</h2>

<div class="your-project-steps-wrap">
<div class="your-project-step-content-wrap">
<h3>1. {{ project_trans.process.consultation.title }}</h3>

<p>{{ project_trans.process.consultation.text }}</p>
</div>
<div class="your-project-step-img-wrap">
<a href="{{ '/assets/photo/2000/93BF9636-47C9-48C2-B6C0-1483C507AED2.webp' | relative_url }}" target="_blank">
<img {% include img-responsive-content.html name="93BF9636-47C9-48C2-B6C0-1483C507AED2" %} alt="Sketch of a creation of Reifier, furniture maker in Amsterdam" sizes="(max-width: 1200px) 20vw, 12vw">
</a>
</div>

<div class="your-project-step-content-wrap">
<h3>2. {{ project_trans.process.sketch.title }}</h3>

<p>{{ project_trans.process.sketch.text }}</p>
</div>
<div class="your-project-step-img-wrap">
<a href="{{ '/assets/photo/2000/8CCEF9A8-F93F-4BAB-B1DE-9249D8254F9E.webp' | relative_url }}" target="_blank">
<img {% include img-responsive-content.html name="8CCEF9A8-F93F-4BAB-B1DE-9249D8254F9E" %} alt="3D model of a creation of Reifier, furniture maker in Amsterdam" sizes="(max-width: 1200px) 20vw, 12vw">
</a>
</div>

<div class="your-project-step-content-wrap">
<h3>3. {{ project_trans.process.material.title }}</h3>

<p>{{ project_trans.process.material.text }}</p>
</div>
<div class="your-project-step-img-wrap">
<a href="{{ '/assets/photo/2000/8879BADB-1073-4634-865E-E147C98634DB.webp' | relative_url }}" target="_blank">
<img {% include img-responsive-content.html name="8879BADB-1073-4634-865E-E147C98634DB" %} alt="Different sample of woods from Reifier, furniture maker in Amsterdam" sizes="(max-width: 1200px) 20vw, 12vw">
</a>
</div>

<div class="your-project-step-content-wrap">
<h3>4. {{ project_trans.process.crafting.title }}</h3>

<p>{{ project_trans.process.crafting.text }}</p>
</div>
<div class="your-project-step-img-wrap">
<a href="{{ '/assets/photo/2000/45EF86A5-767A-42B6-AEB7-3D0F3A8396E9.webp' | relative_url }}" target="_blank">
<img {% include img-responsive-content.html name="45EF86A5-767A-42B6-AEB7-3D0F3A8396E9" %} alt="During the crafting of a creation of Reifier, furniture maker in Amsterdam" sizes="(max-width: 1200px) 20vw, 12vw">
</a>
</div>

<div class="your-project-step-content-wrap">
<h3>5. {{ project_trans.process.delivery.title }}</h3>

<p>{{ project_trans.process.delivery.text }}</p>
</div>
<div id="your-project-delivery-img-wrap" class="your-project-step-img-wrap">
<a href="{{ '/assets/photo/2000/8403707E-1B00-4FD1-8A70-FD1A2FB13C3D.webp' | relative_url }}" target="_blank">
<img {% include img-responsive-content.html name="8403707E-1B00-4FD1-8A70-FD1A2FB13C3D" %} alt="Delivery with a cargo bike of a creation of Reifier, furniture maker in Amsterdam" sizes="(max-width: 1200px) 10vw, 6vw">
</a>
<a href="{{ '/assets/photo/2000/2172AF75-61C9-499B-96A0-4C33C5BDF1D8.webp' | relative_url }}" target="_blank">
<img {% include img-responsive-content.html name="2172AF75-61C9-499B-96A0-4C33C5BDF1D8" %} alt="Final state of a creation of Reifier, furniture maker in Amsterdam" sizes="(max-width: 1200px) 10vw, 6vw">
</a>
</div>
</div>

<h2>{{ project_trans.pricetime.title }}</h2>

<p>
    <span class="paragraph-header">{{ project_trans.pricetime.pricing.title }}.</span>
    {{ project_trans.pricetime.pricing.text }}
</p>

<p>
    <span class="paragraph-header">{{ project_trans.pricetime.timing.title }}.</span>
    {{ project_trans.pricetime.timing.text }}
</p>

<h2>{{ project_trans.contact.title }}</h2>

<p>{{ project_trans.contact.intro }}</p>

<p class="center-align">
<a href="{{ 'contact' | relative_url  }}" class="button navigation-button">{{ project_trans.contact.button }}</a>
</p>
