:root {
	--color-frame: #8f8f8f;
	--color-frame-dark: #363636;
	--color-background: #ffffff;
	--color-background-dark: #f5f5f5;
	--color-background-very-dark: #d9d9d9;
    --color-highlight: #ff723a;
    --color-highlight-dark: #dc5921;
    --color-highlight-light: #fc9b77;
}

/* =======
Font Sizes
======= */

html {
  font-size: max(min(1.9vh, 30px), 15px);
  font-family: "Funnel Display", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

input {
	font-size: inherit;
}

textarea {
    font-size: inherit;
}

button {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p > a {
    color: var(--color-highlight-dark);
}

.link {
    color: var(--color-highlight-dark);
}

.paragraph-header {
    font-weight: bold;
}

/* =============
Main page layout
============= */

body {
	background-color: var(--color-background);
	padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(7ch + 2vh + 0.3vh);
  z-index: 100;
}

#top-header {
    width: 100%;
    background: var(--color-background-dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3vh solid var(--color-frame-dark);
    box-sizing: border-box;
    padding: 1vh 0;
    height: calc(7ch + 2vh + 0.3vh);
}

#top-header-content {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7ch;
}

#logo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: max(1vw, 10px);
}

#logo-wrap > span {
    display: inline-flex;
}

#logo-wrap > span > a {
    display: inline-flex;
}

#logo-wrap span img {
    height: 7ch;
}

#header-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#logo-title {
    font-size: 1.3rem;
}

.logo-contact-details {
    font-size: 0.8rem;
}

#language-navigation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
}

@media screen and (max-width: 350px) {
    #language-navigation-wrap {
        flex-direction: column;
    }
}

#menu-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    margin-top: calc(7ch + 2vh + 0.3vh);
}

.menu-item {
    display: inline-block;
    background: var(--color-frame-dark);
    color: white;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-align: center
}

.menu-item a {
    display: inline-block;
    padding: 1ch 1.5ch;
}

.menu-item:hover {
    cursor: pointer;
    background: var(--color-highlight);

}

.menu-item.active {
    background: var(--color-highlight-dark);
}

.menu-item:not(:last-of-type) {
    border-right: 0.15vw solid white;
}

@media screen and (max-width: 800px) {
    #top-header-content {
        width: 100%;
        padding: 0 3vw;
        box-sizing: border-box;
    }

    #menu-wrap {
        width: 100%;
        padding: 0 3vw;
        box-sizing: border-box;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0;
    flex: 1;
}

.main-content-wrap {
    width: 60vw;
    padding: 5vh 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .main-content-wrap {
        width: 100%;
        padding: max(4px, 3vh) max(4px, 3vw);
    }
}

footer {
    display: flex;
    background-color: var(--color-frame-dark);
    color: white;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: min(2vh, 5vw);
}

#footer-wrap {
    display: flex;
    align-items: center;
    gap: 5vw;
}

#footer-address {
    display: flex;
    flex-direction: column;
    gap: 0.2vh;
}

#footer-admin-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.2vh 0.2vw;
}

.footer-admin-header {
    text-align: right;
}

h1 {
    text-align: center;
    margin-top: 0;
}

main > h1 {
    padding: 2vh 0;
}

h2 {
	margin: 0 0 2vh;
}

p {
	margin: 0 0 2vh;
}

.center-align {
	text-align: center;
}

.center-margin {
	margin-left: auto;
	margin-right: auto;
}

/* ============
Typical layouts
============ */

.side-by-side-centered-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

@media (max-width: 768px) {
    .side-by-side-centered-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-by-side-centered-wrapper > div {
        width: 100%;
        box-sizing: border-box;
    }
}

.side-by-side-pushed-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.side-by-side-two-columns-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	width: 100%;
	box-sizing: border-box;
	column-gap: 2%;
}

.side-by-side-two-columns-wrapper > div {
	width: 48%;
}

@media (max-width: 768px) {
    .side-by-side-two-columns-wrapper > div {
        width: 100%;
    }
}

.grid2-wrapper {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vh;
}

.grid2-wrapper > .grid-item:nth-child(2n-1):nth-last-of-type(1) {
	grid-column: span 2;
}

@media (max-width: 768px) {
    .grid2-wrapper {
        grid-template-columns: 1fr;
    }
}

.lined-table {
	border-collapse: collapse;
}

.lined-table > tbody > tr > td, .lined-table > tbody > tr > th, .lined-table > thead > tr > td, .lined-table > thead > tr > th  {
	padding: 0.5vh 1vh;
	text-align: center;
}

.lined-table tr {
	border-top: var(--color-frame) solid 1px;
}

.lined-table tr:first-child {
	border-top: var(--color-frame) solid 2px;
}

.lined-table tr:last-child {
	border-bottom: var(--color-frame) solid 2px;
}

.button {
    border: none;
    background: var(--color-frame-dark);
    color: white;
    cursor: pointer;
    padding: 1vh 3vw;
    font-size: 0.8rem;
    text-decoration: none;
}

.button:hover {
    background: var(--color-highlight-dark);
}

.button > a {
    color: inherit
}


/* ==========
General Stuff
========== */

.hidden {
    display: none;
}

/* =======
Index Page
======= */

#reify-definition-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    text-align: center;
}

#reify-definition {
    background-color: var(--color-background-dark);
    padding: 2vh;
}

#reify-definition p {
    margin: 0;
}

#index-creation-gallery-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-frame-dark);
    padding-top: 1vh;
}

#index-creation-gallery-image-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#index-creation-gallery-display img {
    max-height: 60vh;
    max-width: 100%;
}

#index-creation-gallery-display {
    position: relative;
    max-height: 60vh;
}

#index-creation-gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}

#index-creation-gallery-caption a {
    display: inline-block;
    color: #fff;
    background: var(--color-frame-dark);
    opacity: 0.7;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

#index-creation-gallery-caption a:hover {
    background: var(--color-highlight-dark);
    opacity: 1;
}

.index-creation-gallery-arrow {
    font-size: 2rem;
    background: var(--color-frame-dark);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.index-creation-gallery-arrow:hover {
    background: var(--color-highlight-dark);
}

/* =======
About Page
======= */


.about-block-wrap {
    display: grid;
    gap: 2vw;
    align-items: center;
}

.about-block-wrap:not(:first-of-type) {
    margin-top: 5vh;
}

.about-block-wrap img {
    width: 100%;
}

#work-ethic-wrap {
    grid-template-columns: 2fr 4fr;
}

#biography-wrap {
    grid-template-columns: 4fr 3fr;
}

@media screen and (max-width: 1200px) {

    #work-ethic-wrap {
        grid-template-columns: auto;
    }

    #work-ethic-wrap img {
        display: none;
    }

    #biography-wrap {
        grid-template-columns: auto;
    }

    .about-block-wrap img {
    }

}

/* =======
Contact Page
======= */

#contact-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5vh;
}

@media screen and (max-width: 1200px) {
    #contact-wrap {
        grid-template-columns: auto;
        justify-items: center;
    }
}

#contact-form-wrap {
    display: flex;
    flex-direction: column;
    border: min(2px, 0.1vw) solid var(--color-frame-dark);
    padding: 2vh 2vw;
    width: min(100%, 70vw);
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    #contact-form-wrap {
        width: 100%;
    }
}

#contact-form-wrap h2 {
    text-align: center;
}

#contact-form input {
    width: 100%;
    border-radius: 0;
    border: none;
    padding: min(1vh, 1vw);
    background: var(--color-background-dark);
    box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
    border-radius: 0;
    border: none;
    background: var(--color-background-dark);
    padding: min(1vh, 1vw);
    box-sizing: border-box;
}

/* ==============
Your Project Page
============== */

.your-project-steps-wrap {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 4vw;
    row-gap: 0.5vh;
    align-items: center;
}

.your-project-step-img-wrap img {
    width: 100%;
}

#your-project-delivery-img-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5vh;
}

#content-your-project-wrap h2 {
    margin-top: 5vh;
}


/* =============
Creation Gallery
============= */


.creation-gallery-wrap {
    text-align: center;
    border: 2px solid var(--color-frame-dark);
    max-width: 100%;
    box-sizing: border-box;
}

.creation-gallery-thumbnails-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: var(--color-frame-dark);
    box-sizing: border-box;
}

.creation-gallery-arrow {
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: var(--color-frame-dark);
}

.creation-gallery-arrow:hover {
    background: var(--color-highlight-dark);
}

.creation-gallery-thumbnails {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1vh 0;
}

.creation-gallery-thumbnail, .creation-gallery-thumbnail img {
    width: min(10vw, 10vh, 100%);
    height: min(10vw, 10vh, 100%);
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
    border: 2px solid transparent;
}

.creation-gallery-thumbnail.active {
    border: 2px solid var(--color-highlight-dark);
}

.creation-gallery-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creation-gallery-display img {
    max-width: 100%;
    max-height: 50vh;
}

/* ===========
Creations Page
=========== */

.creations-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(80vw, 250px), 1fr));
    gap: 20px;
    padding: 20px;
  }

.creation-card {
    border: 1px solid var(--color-background-dark);
    text-align: center;
    box-shadow: 0 4px 6px var(--color-background-very-dark);
}

.creation-image-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.creation-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.creation-name {
    padding: min(2vh, 2vw);
    margin: 0;
}