:root {
	--color-frame: #8f8f8f;
	--color-frame-dark: #363636;
	--color-background: #ffffff;
	--color-background-dark: #f5f5f5;
	--color-background-very-dark: #d9d9d9;
    --color-highlight: #ff723a;
    --color-highlight-dark: #dc5921;
    --color-highlight-light: #fc9b77;
}

/* =======
Font Sizes
======= */

html {
  font-size: min(2vh, 30px);
  font-family: "Reddit Mono", monospace, "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

input {
	font-size: inherit;
}

textarea {
    font-size: inherit;
}

button {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =============
Main page layout
============= */

body {
	background-color: var(--color-background);
	padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

header {
	background-color: var(--color-background);
	color: var(--color-frame-dark);
	padding: 0;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3vh solid var(--color-frame-dark);
    box-sizing: border-box;
    padding: 1vh 0;
}

#top-banner-content {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: min(1vw, 20px);
}

#logo-wrap > span {
    display: inline-flex;
}

#logo-wrap > span > a {
    display: inline-flex;
}

#logo-wrap span img {
    height: 5ch;
}

#menu-wrap {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.menu-item {
    display: inline-block;
    background: var(--color-frame-dark);
    color: white;
    font-size: 0.9rem;
    font-variant: all-small-caps;
}

.menu-item a {
    display: inline-block;
    padding: 0.5ch 1ch;
}

.menu-item:hover {
    cursor: pointer;
    background: var(--color-highlight);

}

.menu-item.active {
    background: var(--color-highlight-dark);
}

.menu-item:not(:last-of-type) {
    border-right: 0.15vw solid white;
}

@media screen and (max-width: 800px) {
    #top-banner-content {
        width: 100%;
        padding: 0 3vw;
        box-sizing: border-box;
    }

    #menu-wrap {
        width: 100%;
        padding: 0 3vw;
        box-sizing: border-box;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0;
    flex: 1;
}

.main-content-wrap {
    width: 60vw;
    padding: 5vh 0;
}

@media screen and (max-width: 1200px) {
    .main-content-wrap {
        width: 100%;
        padding: 3vh 3vw;
    }
}

footer {
    height: 1ch;
    background-color: var(--color-frame-dark);
}

h1 {
    text-align: center;
    margin-top: 0;
}

main > h1 {
    padding: 2vh 0;
}

h2 {
	margin: 0 0 2vh;
}

p {
	margin: 0 0 2vh;
}

.center-align {
	text-align: center;
}

.center-margin {
	margin-left: auto;
	margin-right: auto;
}

/* ============
Typical layouts
============ */

.side-by-side-centered-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

@media (max-width: 768px) {
    .side-by-side-centered-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-by-side-centered-wrapper > div {
        width: 100%;
        box-sizing: border-box;
    }
}

.side-by-side-pushed-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.side-by-side-two-columns-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	width: 100%;
	box-sizing: border-box;
	column-gap: 2%;
}

.side-by-side-two-columns-wrapper > div {
	width: 48%;
}

@media (max-width: 768px) {
    .side-by-side-two-columns-wrapper > div {
        width: 100%;
    }
}

.grid2-wrapper {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vh;
}

.grid2-wrapper > .grid-item:nth-child(2n-1):nth-last-of-type(1) {
	grid-column: span 2;
}

@media (max-width: 768px) {
    .grid2-wrapper {
        grid-template-columns: 1fr;
    }
}

.lined-table {
	border-collapse: collapse;
}

.lined-table > tbody > tr > td, .lined-table > tbody > tr > th, .lined-table > thead > tr > td, .lined-table > thead > tr > th  {
	padding: 0.5vh 1vh;
	text-align: center;
}

.lined-table tr {
	border-top: var(--color-frame) solid 1px;
}

.lined-table tr:first-child {
	border-top: var(--color-frame) solid 2px;
}

.lined-table tr:last-child {
	border-bottom: var(--color-frame) solid 2px;
}

.button {
    border: none;
    background: var(--color-frame-dark);
    color: white;
    cursor: pointer;
    padding: 1vh 3vw;
    font-size: 0.8rem;
    text-decoration: none;
}

.button:hover {
    background: var(--color-highlight-dark);
}


/* ==========
General Stuff
========== */

.hidden {
    display: none;
}

/* =======
Index Page
======= */

#reify-definition-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    text-align: center;
}

#reify-definition {
    background-color: var(--color-background-dark);
    padding: 2vh;
}

#reify-definition p {
    margin: 0;
}

/* =======
About Page
======= */


.about-block-wrap {
    display: grid;
    gap: 2vw;
    align-items: center;
}

.about-block-wrap:not(:first-of-type) {
    margin-top: 5vh;
}

.about-block-wrap img {
    width: 100%;
}

#work-ethic-wrap {
    grid-template-columns: 2fr 4fr;
}

#biography-wrap {
    grid-template-columns: 4fr 3fr;
}

@media screen and (max-width: 1200px) {

    #work-ethic-wrap {
        grid-template-columns: auto;
    }

    #work-ethic-wrap img {
        display: none;
    }

    #biography-wrap {
        grid-template-columns: auto;
    }

    .about-block-wrap img {
    }

}

/* =======
Contact Page
======= */

#contact-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5vh;
}

@media screen and (max-width: 1200px) {
    #contact-wrap {
        grid-template-columns: auto;
        justify-items: center;
    }
}

#contact-form-wrap {
    border: min(2px, 0.1vw) solid var(--color-frame-dark);
    padding: 2vh 2vw;
    width: min(100%, 70vw);
    box-sizing: border-box;
    justify-items: end;
}

@media screen and (max-width: 800px) {
    #contact-form-wrap {
        width: 100%;
    }
}

#contact-form-wrap h2 {
    text-align: center;
}

#contact-form input {
    width: 100%;
    border-radius: 0;
    border: none;
    padding: min(1vh, 1vw);
    background: var(--color-background-dark);
    box-sizing: border-box;
}

#contact-form textarea {
    width: 100%;
    border-radius: 0;
    border: none;
    background: var(--color-background-dark);
    padding: min(1vh, 1vw);
    box-sizing: border-box;
}

/* ==============
Your Project Page
============== */

.your-project-steps-wrap {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 4vw;
    row-gap: 0.5vh;
    align-items: center;
}

.your-project-step-img-wrap img {
    width: 100%;
}

#your-project-delivery-img-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5vh;
}

#content-your-project-wrap h2 {
    margin-top: 5vh;
}