<div class="creation-gallery-wrap">
    <div class="creation-gallery-thumbnails-wrap">
        <button class="creation-gallery-arrow left" onclick="prevImage()">&#10094;</button>
        <div class="creation-gallery-thumbnails">
            {% for image in include.images %}
                <img src="{{ image | relative_url }}"
                     class="creation-gallery-thumbnail {% if forloop.first %}active{% endif %}"
                     onclick="setActiveImage('{{ image | relative_url }}', {{ forloop.index0 }})"
                     data-index="{{ forloop.index0 }}">
            {% endfor %}
        </div>
        <button class="creation-gallery-arrow right" onclick="nextImage()">&#10095;</button>
    </div>

    <div class="creation-gallery-display">
        <img id="creation-gallery-active-image" src="{{ include.images[0] | relative_url }}" alt="Active Image">
    </div>
</div>

<script>
    let images = [
        {% for image in include.images %}
            "{{ image | relative_url }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    let currentIndex = 0;

    function setActiveImage(imageSrc, index) {
        document.getElementById("creation-gallery-active-image").src = imageSrc;
        currentIndex = index;
        document.querySelectorAll(".creation-gallery-thumbnail").forEach(img => img.classList.remove("active"));
        let activeThumb = document.querySelector(`.creation-gallery-thumbnail[data-index='${index}']`);
        activeThumb.classList.add("active");
        activeThumb.scrollIntoView({ behavior: "smooth", block: "nearest", inline: "center" });
    }

    function prevImage() {
        const newIndex = (currentIndex - 1 + images.length) % images.length;
        setActiveImage(images[newIndex], newIndex);
    }

    function nextImage() {
        const newIndex = (currentIndex + 1) % images.length;
        setActiveImage(images[newIndex], newIndex);
    }
</script>
