<div class="creation-gallery-wrap">
    <div class="creation-gallery-thumbnails-wrap">
        <button class="creation-gallery-arrow left" onclick="prevImage()">&#10094;</button>
        <div class="creation-gallery-thumbnails">
            {% for image in include.images %}
                <img
                    {% include img-responsive-content.html name=image alt="Image of a woodworking creation from Reifier, furniture maker in Amsterdam." %}
                     class="creation-gallery-thumbnail {% if forloop.first %}active{% endif %}"
                     onclick="setActiveImage({{ forloop.index0 }})"
                     data-index="{{ forloop.index0 }}"
                >
            {% endfor %}
        </div>
        <button class="creation-gallery-arrow right" onclick="nextImage()">&#10095;</button>
    </div>

    <div class="creation-gallery-display">
        <a id="creation-gallery-active-image-link" href="{{ '/assets/photo/full/' | append: include.images[0] | append: '.webp' | relative_url }}" target="_blank">
            <img id="creation-gallery-active-image" src="{{ '/assets/photo/1200/' | append: include.images[0] | append: '.webp' | relative_url }}" alt="Active Image">
        </a>
    </div>
</div>

<script>
    let images = [
        {% for image in include.images %}
            "{{ '/assets/photo/1200/' | append: image | append: '.webp' | relative_url }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    let imagesFull = [
        {% for image in include.images %}
            "{{ '/assets/photo/full/' | append: image | append: '.webp' | relative_url }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    let currentIndex = 0;
    let activeImg = document.getElementById("creation-gallery-active-image");
    let activeImgLink = document.getElementById("creation-gallery-active-image-link");

    function setActiveImage(index) {
        activeImg.src = images[index];
        activeImgLink.href = imagesFull[index];
        currentIndex = index;
        document.querySelectorAll(".creation-gallery-thumbnail").forEach(img => img.classList.remove("active"));
        let activeThumb = document.querySelector(`.creation-gallery-thumbnail[data-index='${index}']`);
        activeThumb.classList.add("active");
        activeThumb.scrollIntoView({ behavior: "smooth", block: "nearest", inline: "center" });
    }

    function prevImage() {
        const newIndex = (currentIndex - 1 + images.length) % images.length;
        setActiveImage(newIndex);
    }

    function nextImage() {
        const newIndex = (currentIndex + 1) % images.length;
        setActiveImage(newIndex);
    }
</script>
